.uui-button {
    font-family: 'Oswald Regular',Tahoma,sans-serif;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 6px 18px;
}

.uui-form-element {
    font-size: 14px;
    padding: 6px 10px;
}

.main {
    position: relative;
    width: 100%;
    min-width: 1280px;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 115px;
    padding-bottom: 30px;
}

.footer {
    background-color: rgb(238, 242, 245);
    height: 111px;
    min-width: 1260px;
    color: rgb(111, 111, 111);
    width: 100%;
    bottom: 0;
    position: absolute;
}

.search-wrap {
    margin: 20px 0;
}

.search-input-wrap {
    width: 300px;
    margin: 10px;
    float: left;
}

.search-btn-wrap {
    margin: 10px;
    float: left;
}

.location-wrap {
    width: 220px;
    margin: 10px;
    float: left;
}

.datepicker-wrap {
    width: 185px;
    margin: 10px;
    float: left;
}

.uui-datepicker.input-daterange .uui-form-element{
    width: 75px;
}

input[type=search].form-search {
    background: #fff url(../images/icons/search-icon-gray.svg) no-repeat 97% 50%;
    background-size: 18px 18px;
    padding: 0 40px 0 10px;
}

.title-wrap {
    margin: 27px 10px;
    width: 620px;
}

.title-img {
    height: 26px;
    width: auto;
    float: left;
    margin-right: 20px;
}

.main-title {
    font-family: 'Oswald Regular',Tahoma,sans-serif;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.title-description {
    font-size: 16px;
    line-height: 20px;
    margin: 12px 0;
}

.album-card {
    width: 300px;
    height: 270px;
    margin: 10px 10px;
    display: inline-block;
}

.album-card .main-img {
    width: 300px;
    height: 210px;
}

.album-card .event-img {
    margin-top: -2px;
    height: 22px;
    width: auto;
    float: right;
}

.album-card .description-img {
    height: 80px;
    width: auto;
    margin: -20px 0 2px 0;
}

.album-card .date {
    height: 40px;
    padding: 11px 20px;
    font-size: 12px;
}

.album-card .description {
    top: 0;
    height: 170px;
    padding: 49px 0;
    font-size: 16px;
    text-align: center;
}

.album-card .description p {
  display: inline-block;
  vertical-align: middle;
}


.album-card .description hr{
    margin: 6px auto 13px auto;
    width: 160px;
}

.album-card .title {
    padding: 17px 10px 0 0;
    height: 86px;
    overflow: hidden;
    font-family: 'Oswald Regular',Tahoma,sans-serif;
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    display: inline-block;
}

.download-card {
    width: 300px;
    height: 210px;
    margin: 10px 10px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.download-card .main-img {
    width: 300px;
    height: 210px;
}

.title-btn-wrap {
    float: right;
    margin: 35px 10px;
}

.title-btn {
    padding: 0 20px;
    font-size: 16px;
    line-height: 20px;
    height: 40px;
}

.title-btn.addon {
    padding: 0;
    font-size: 20px;
    width: 40px;
}

.title-btn.addon i{
    font-size: 20px;
}
.mini-albums-title {
    margin: 67px 0 18px 15px;
    font-family: 'Oswald Regular',Tahoma,sans-serif;
    font-size: 21px;
    line-height: 25px;
    text-transform: uppercase;
}

.mini-album-card {
    width: 140px;
    height: 90px;
    margin: 0 10px;
    display: inline-block;
}

.mini-album-card .title {
    padding: 9px 10px 0 0;
    height: 54px;
    overflow: hidden;
    font-family: 'Oswald Regular',Tahoma,sans-serif;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    display: inline-block;
}

.corner-right-bottom {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 60px solid #a3c644;
    border-left: 60px solid transparent;
    border-top: 60px solid transparent;
    right: 0;
    bottom: 0;
    z-index: 20;
}

.corner-right-bottom span {
    position: absolute;
    font-size: 20px;
    top: 33px;
    right: 11px;
    z-index: 25;
}

.corner-right-bottom span:hover {
    opacity: 0.5;
}

.modal-dialog-custom {
    width: 940px;
    border: 40px solid #666666;
    border-bottom-width: 50px;
    margin: 60px auto 0;
}

.modal-content {
    border: none;
    box-shadow: none;
}

.modal-header {
    position: absolute;
    top: -100px;
    right: -200px;
    padding: 0;
}

.modal-header button{
    width: 57px;
    height: 57px;
}

.modal-header .uui-button i {
    font-size: 30px;
}

.modal-body {
    padding: 0;
}

.modal-backdrop.in {
  filter: alpha(opacity=85);
  opacity: .85;
}


.big-carousel {
    border: none;
}

.big-carousel .item img {
    height: 570px;
}

.big-carousel .left-arrow {
    background: url('../images/icons/arrows.png') -40px 0 no-repeat;
    width: 40px;
    height: 90px;
    content: '';
    position: absolute;
    top: 240px;
    left: 20px;
}

.big-carousel .right-arrow {
    background: url('../images/icons/arrows.png') 0 0 no-repeat;
    width: 40px;
    height: 90px;
    content: '';
    position: absolute;
    top: 240px;
    right: 20px;
}

.big-carousel .carousel-control {
    width: 90px;
}

.big-carousel .carousel-control.left {
    left: -140px;
}

.big-carousel .carousel-control.right {
    right: -140px;
}

.modal-footer {
    position: absolute;
    bottom: -190px;
    right: -40px;
    padding: 0;
    width: 940px;
    height: 140px;
    background-color: #2E2E2E;
    border: none;
}

.modal-footer .arrow {
    position: relative;
    margin: -10px auto 0;
    width: 0;
    height: 0;
    border-left: 10px solid #666666;
    border-right: 10px solid #666666;
    border-bottom: 10px solid #2E2E2E;
}

.thumb-carousel {
    border: none;
}

.thumb-carousel .left-arrow {
    background: url('../images/icons/arrows-thumb.png') -20px 0 no-repeat;
    width: 20px;
    height: 50px;
    content: '';
    position: absolute;
    top: 40px;
}

.thumb-carousel .right-arrow {
    background: url('../images/icons/arrows-thumb.png') 0 0 no-repeat;
    width: 20px;
    height: 50px;
    content: '';
    position: absolute;
    top: 40px;
    right: 20px;
}

.thumb-carousel .carousel-control.left {
    left: 0;
}

.thumb-carousel .carousel-control.right {
    right: 0;
}

.uui-carousel.thumb-carousel img {
    width: 140px;
    height: 100px;
    margin: 20px 10px;
    display: inline-block;
}

.thumb-carousel .carousel-inner > .item {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
}

.thumb-carousel .fade {
    opacity: 0.3;
}