.header {
    min-width: 1260px;
    width: 100%;
    height: 99px;
    background-color: #222222;
}

.main {
    position: relative;
    width: 100%;
    max-width: 1260px;
    min-width: 1260px;
    margin: 25px auto 0;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer {
    background-color: rgb(238, 242, 245);
    height: 111px;
    min-width: 1260px;
    color: rgb(111, 111, 111);
    width: 100%;
    bottom: 0;
    position: absolute;
}

input[type=search].form-search {
    background: #fff url(../images/icons/search-icon-gray.svg) no-repeat 97% 50%;
    background-size: 18px 18px;
    padding: 0 40px 0 10px;
}

.album-card {
    width: 300px;
    height: 290px;
    margin: 0 8.5px;
    display: inline-block;
}

.album-card .main-img {
    width: 300px;
    height: 210px;
}

.album-card .event-img {
    margin-top: -2px;
    height: 22px;
    width: auto;
    float: right;
}

.album-card .description-img {
    height: 80px;
    width: auto;
    margin: -20px 0 2px 0;
}

.album-card .date {
    height: 40px;
    padding: 11px 20px;
    font-size: 12px;
}

.album-card .date:hover {
    cursor: pointer;
}

.album-card .description {
    top: 0;
    height: 170px;
    padding: 49px 0;
    font-size: 16px;
    text-align: center;
}

.album-card .description p {
  display: inline-block;
  vertical-align: middle;
}


.album-card .description hr{
    margin: 6px auto 13px auto;
    width: 160px;
}

/*.album-card .title {
    word-wrap: break-word;
    min-height: 52px;
    padding: 10px;
    font-size: 24px;
    line-height: 26px;
    font-family: bebas_neueregular, sans-serif;
    font-weight: normal;
    color: rgb(51, 51, 51);
    letter-spacing: 0.25px;
}*/

.album-card .title {
    padding: 17px 10px 0 0;
    height: 96px;
    overflow: hidden;
    font-family: 'Oswald Regular',Tahoma,sans-serif;
    font-size: 22px;
    /*letter-spacing: -0.2px;*/
    line-height: 24px;
    text-transform: uppercase;
    display: inline-block;
}







/*button {
    font-family: 'Oswald Regular',Tahoma,sans-serif;
}*/